b,
button,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
span {
    font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
    color: #fff;
    transition-duration: .5s;
}

body {
    background-color: #101010
}

button {
    background-color: transparent;
    border-color: transparent;
}

button img {
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.26, 0.91, 0.76, 1);
}

button img:active {
    transform: scale(0.9);
}

#wipe {
    color: #dc143c;
}

#save {
    color: #7cfc00;
}

#save,
#wipe {
    font-size-adjust: 2;
}

.display {
    opacity: 1;
    transition-duration: 1s;
}

.hide {
    opacity: 0;
    transition-duration: 1s;
    position: absolute;
    left: 100vw;
    transition: all .5s;
    z-index: -1;
}

.blur {
    filter: blur(1.5rem);
    transition-duration: 1s;
}

#context {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}